/* Write your CSS code here */
* {
    box-sizing: border-box;
}

body {
    background: #F6F7F8;
    padding: 1rem 2rem;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

main {
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 2rem 2rem;
    min-height: 100px;
    max-width: 500px;
    margin: auto;
}

.profile {
    background-color: blue;
}

.profile-image {
    max-height: 25px;
    max-width: 25px;
    border-radius: 5px;
}

.checkbox {
    background-color: grey;
    display: flex;

}

.reset-btn {
    color: black;
    text-decoration-line: none;
    display: inline-block;
    background: rgb(255, 230, 230);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 1rem 1 rem;
}
